<style>
	table {
		border-collapse: collapse; 
		width:100%;
	}
	.datenumber {
		width: 1px;
		color: #555;
		text-align: right;
		white-space: nowrap;
	}

	
	.border{
		border-bottom: 1px solid #bbb;
	}

	.padding {
		padding: 3px
	}

	.collapse {
		width: 1px;
		white-space: nowrap;
	}

	.event {
		width: 100%
	}

	.right {
		text-align: right;
	}

	td {
		vertical-align: top;
	}

	.bold {
		font-weight: bold;
	}

	.day-7 {
		background: #dddddd;
	}
	.logo {
		position: absolute;
		right: 50;
		top: 40
	}
</style>
<div class="logo">

<svg width="265" height="60" viewBox="0 0 637 144" version="1.1" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"><g><path d="M502.23,117.5c-3.056,-0 -5.686,-0.546 -7.89,-1.637c-2.205,-1.091 -4.246,-2.859 -6.123,-5.304l0,5.369l-16.37,0l0,-96.752l16.37,9.4l0,25.671c1.703,-2.183 3.809,-3.863 6.319,-5.042c2.51,-1.178 5.249,-1.768 8.218,-1.768c5.544,0 10.389,1.463 14.536,4.387c4.147,2.925 7.388,7.017 9.724,12.278c2.335,5.26 3.503,11.36 3.503,18.301c-0,11.044 -2.499,19.655 -7.498,25.832c-4.998,6.177 -11.928,9.265 -20.789,9.265Zm-1.965,-15.65c4.453,0 7.869,-1.68 10.248,-5.041c2.379,-3.362 3.569,-8.164 3.569,-14.406c-0,-6.242 -1.19,-11.033 -3.569,-14.373c-2.379,-3.339 -5.795,-5.009 -10.248,-5.009c-2.444,0 -4.758,0.535 -6.94,1.604c-2.183,1.07 -3.886,2.5 -5.108,4.289l0,27.043c1.353,1.921 3.012,3.383 4.977,4.387c1.964,1.004 4.321,1.506 7.071,1.506Z" style="fill:#100b00;fill-rule:nonzero;"/><path d="M563.674,143.823l-9.036,-13.686c6.373,-0.48 11.317,-1.2 14.831,-2.16c3.514,-0.961 5.97,-2.336 7.367,-4.126c1.396,-1.789 2.095,-4.125 2.095,-7.006l-0,-4.845c-3.405,3.667 -8.207,5.5 -14.406,5.5c-5.805,-0 -10.804,-1.408 -14.994,-4.223c-4.191,-2.816 -7.41,-6.854 -9.658,-12.114c-2.249,-5.26 -3.373,-11.514 -3.373,-18.76c0,-7.072 1.168,-13.227 3.503,-18.465c2.336,-5.238 5.61,-9.298 9.822,-12.179c4.213,-2.881 9.157,-4.322 14.831,-4.322c2.969,0 5.686,0.459 8.153,1.375c2.466,0.917 4.507,2.248 6.122,3.994l-0,-3.797l16.304,-0l0,60.895c0,5.937 -0.545,10.957 -1.637,15.061c-1.091,4.103 -2.87,7.464 -5.336,10.083c-2.467,2.62 -5.708,4.617 -9.724,5.992c-4.016,1.375 -8.971,2.302 -14.864,2.783Zm3.536,-41.973c2.314,0 4.485,-0.534 6.515,-1.604c2.03,-1.069 3.765,-2.521 5.206,-4.354l-0,-26.978c-1.222,-1.702 -2.903,-3.11 -5.042,-4.223c-2.139,-1.113 -4.3,-1.67 -6.482,-1.67c-4.715,0 -8.305,1.648 -10.772,4.944c-2.466,3.296 -3.699,8.108 -3.699,14.438c-0,4.103 0.556,7.607 1.669,10.51c1.113,2.902 2.74,5.118 4.879,6.646c2.139,1.528 4.714,2.291 7.726,2.291Z" style="fill:#100b00;fill-rule:nonzero;"/></g><path d="M601.973,21.376l0,-21.376l17.782,9.6l0,11.776l16.577,0l-0,17.782l-16.577,0l0,21.377l-17.782,-9.6l0,-11.777l-16.576,0l-0,-17.782l16.576,0Z" style="fill:#85cb33;"/><g transform="matrix(0.412421,0,0,0.412421,-222.063,-313.919)"><text x="528.687px" y="897.906px" style="font-family:'Overpass-Bold', 'Overpass';font-weight:700;font-size:125px;fill:#100b00;">b<tspan x="601.375px 671.75px 742.812px 789.375px 824.75px 884.437px 932.875px 1002.94px 1077.56px 1148.56px 1218.62px 1328.75px " y="897.906px 897.906px 897.906px 897.906px 897.906px 897.906px 897.906px 897.906px 897.906px 897.906px 897.906px 897.906px ">aptistengeme</tspan>in<tspan x="1508.38px " y="897.906px ">d</tspan>e</text><g transform="matrix(125,0,0,125,1650.12,1022.91)"></g><text x="928.687px" y="1022.91px" style="font-family:'Overpass-Bold', 'Overpass';font-weight:700;font-size:125px;fill:#100b00;">bu<tspan x="1081.5px 1116.88px 1184.62px 1234.69px 1281.25px 1316.62px 1388.94px " y="1022.91px 1022.91px 1022.91px 1022.91px 1022.91px 1022.91px 1022.91px ">jattiga</tspan>ss<tspan x="1580.5px " y="1022.91px ">e</tspan></text></g></svg>
</div>
<h2>Monatsprogramm {{start|date('F Y')}}</h2>
<table cellspacing="0" cellpadding="0" class="table">
	<tbody>
		{% for day in month %}
			<tr class="day {{"day-" ~ day.weekday}}">
				<td class="padding border collapse right">{{day.count}}</td><td class="padding border collapse">{{day.name}}</td>
				<td class="padding border" >
					{% for event in day.events %}
						<table cellspacing="0" cellpadding="0" class="event">
							<tr><td class="event__title">{{ event.title }} {{ event.speaker.name ? " (" ~ event.speaker.name ~ ")" }}</td><td class="collapse">{{ event.start|date('G:i', false) }}</td></tr>
						</table>
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% if featured %}
<h3>Weitere Termine</h3>
<table cellpadding="0" class="table">
{% for event in featured %}
<tr><td class="bold padding collapse">{{event.date}}</td><td class="padding collapse">{{event.start|date('G:i')}}</td><td class="padding">{{event.title}}</td></tr>
{% endfor %}
</table>
{% endif %}
